-# This files is app/views/users/list.html.haml
%h1 All Users

%table#users
  %thead
    %tr
      %th User ID
      %th User E-Mail
  %tbody
    - @users.each do |user|
      %tr
        %td= "id: #{user.user_id}"
        %td= "Email: #{user.email}"
        
-# %p "#{User.column_names}"
-# %p "#{User.find_by(user_id: 'def_not_here').nil?}"
  
= link_to 'home', movies_path