!!!
%html
  %head
    %title Rotten Potatoes!
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %h1.title Rotten Potatoes!
    #main
      = link_to "Home", movies_path
      %br
      %br
      - if not @current_user
        = button_to 'Sign up/Login', login_path, id: "signuplogin", :method => :get
      - else
        #notice.message= "You are logged in as #{@current_user.user_id}"
        = button_to 'Log Out', logout_path, id: "logout", method: :delete
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield
